body {
    margin: 0;
    padding: 0;
    background-color: #fcf5ef;
}

div {
    margin: 0;
}

h2 {
    color: #6db5ca;
}

p {
    text-align: center;
    margin: auto;
    font-weight: medium;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    padding-inline-start: 0;
}

button {
    background-color: #ff7235;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, .2);
    border-radius: 10px;
    color: #fcf5ef;
    padding: 15px 20px;
    font-size: 15px;
    border: none;
    font-family: inherit;
    font-weight: semi-bold;
    transition: 0.3s;
    cursor: pointer;
}

button:hover {
    background-color: #fcf5ef;
    color: #ff7235;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.2), 0 17px 50px 0 rgba(0, 0, 0, 0.2);
}

.bg-statis {
    height: 400px;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: -9999;
}

.bg-statis img {
    height: 100%;
    width: auto;
}

.hero-image {
    height: 400px;
    background-image: linear-gradient(rgba(30, 102, 124, 0.8), rgba(109, 181, 202, 0.8));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}



.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Quicksand', sans-serif;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, .2);
    color: #fcf5ef;
}

.content {
    padding-top: 30px;
    margin: auto;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: #252525;
    background-color: #fcf5ef;
    font-size: 17px;
}

.aboutMe p {
    padding: 0 25% 0 25%;
}

.content img {
    margin: 25px;
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, .2);
}

.line {
    margin: auto;
    margin-bottom: 10px;
    height: 7px;
    width: 40px;
    background-color: #ff7235;
    border-radius: 3.5px;
}

.contact {
    margin: 40px auto auto auto;
    padding: 30px;
    background-color: #ff7235;
    color: #fcf5ef;
}

.contact img {
    filter: invert(82%) sepia(7%) saturate(728%) hue-rotate(145deg) brightness(103%) contrast(89%);
}

.contactList {
    margin: auto;
    padding-bottom: 30px;
}

.contactList li {
    display: inline-block;
}

.contactInfo {
    width: 180px;
    margin: none;
}

.contactInfo p {
    width: 180px;
    text-align: center;
    font-size: smaller;
}

.contactInfo img {
    margin: 25px;
    object-fit: cover;
    width: 40px;
    height: 40px;
    border-radius: 0;
    box-shadow: none;
}

.btnIg {
    transition: .3s;
}

.btnIg:hover {
    transform: scale(1.08);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.2), 0 17px 50px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.portfolio {
    margin: auto;
    padding: 30px;
    padding-bottom: 50px;
    background-color: #6db5ca;
    color: #fcf5ef;
}

.portfolio li {
    display: inline-block;
}

.contentPorto img {
    margin: 25px;
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, .2);
}

.experience {
    padding: 30px;
    background-color: #fcf5ef;
    color: #252525;
    padding-bottom: 30px;
}

#expTable {
    margin: auto;
    margin-top: 40px;
    border-collapse: collapse;
    width: 50%;
    font-size: 15px;
}

#expTable th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    padding-left: 16px;
    text-align: left;
}

#expTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#expTable th {
    padding-top: 12px;
    padding-left: 16px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #ff7235;
    color: white;
}

.education {
    margin: auto;
    padding: 30px;
    background-color: #fcf5ef;
    color: #252525;
    padding-bottom: 50px;
}

.contentEducation img {
    width: 120px;
    height: 120px;
    box-shadow: none;
    margin-bottom: -8px;
}

@media screen and (max-width: 960px) {
    .aboutMe p {
        padding: 0 10% 0 10%;
    }
}